/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.10.2015, 08:57:51
    Author     : Julia
*/

* {
    font-family: "Verdana";
    font-size: 10pt;
    box-sizing: border-box;
}

h1 {
    font-family: "Verdana";
    color: #c21731;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#container{
	width:960px;
	margin:0px auto;
}

.row{
	width:960px;
	height:80px;
	margin:2px auto;
	border-style:solid;
	border-color:black;
	border-width:1px;
	float:left;
}

#headLeft{
	max-width:288px;
	max-height:100px;
	float:left;
}

#headCenter{
	width:384px;
	height:100px;
	text-align:center;
	float:left;
}

#headRight{
	width:288px;
	height:100px;
	float:left;
	text-align:center;
	vertical-align:center;
	align:center;
}

#pic{
	width:192px;
	float:left;
}

#book{
	width:384px;
	float:left;
}

#rating{
	width:96px;
	float:left;
}

#detail{
	width:288px;
	float:left;
}

img{
	max-height:100%;
	width:auto;
}

@media screen and (max-width:959px){
	#container{
		width:100%;
	}
	
	.row{
		width:100%;
	}
	
	#headLeft{
		width:30%;
	}

	#headCenter{
		width:40%;
	}

	#headRight{
		width:30%;
	}

	#pic{
		width:20%;
	}

	#book{
		width:40%;
	}

	#rating{
		width:10%;
	}

	#detail{
		width:30%;
	}
	
	img{
		width:100%;
	}
}

@media screen and (max-width:640px){
	#container{
		width:100%;
	}
	
	.row{
		width:100%;
		height:100px;
	}
	
	#headLeft{
		width:40%;
		height:50px;
	}

	#headCenter{
		width:60%;
		height:50px;
	}

	#headRight{
		width:100%;
		height:50px;
	}

	#pic{
		width:20%;
	}

	#book{
		width:40%;
	}

	#rating{
		width:10%;
	}

	#detail{
		width:30%;
	}
	
	img{
		width:100%;
		height:auto;
	}
}